<div class="position-relative">
  <div
    class="position-absolute top-0 end-0 m-3 z-3 shadow-sm bg-white rounded-pill border"
  >
    <button
      type="button"
      class="btn btn-sm btn-light d-flex align-items-center gap-1 rounded-pill px-3"
      (click)="startDraw('Polygon')"
      title="Alan çiz"
    >
      <i class="bi bi-bounding-box"></i>
      <span>Alan Çiz</span>
    </button>
  </div>

  <div
    id="map"
    class="map border rounded-4"
    style="height: 420px; width: 100%"
  ></div>
</div>
