<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h5 class="mb-0">Kullanıcı Bilgilerini Güncelle</h5>

    <button
      class="btn btn-outline-secondary btn-sm"
      routerLink="/core/admin/users"
      type="button"
    >
      <i class="bi bi-arrow-left me-1"></i>
      Listeye Dön
    </button>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="update()">
    <div class="mb-3">
      <label class="form-label fw-semibold">
        Ad Soyad <span class="text-danger">*</span>
      </label>
      <input class="form-control" formControlName="adSoyad" />
    </div>

    <div class="mb-3">
      <label class="form-label fw-semibold">
        Email <span class="text-danger">*</span>
      </label>
      <input class="form-control" formControlName="email" />
    </div>

    <div class="mb-3">
  <label class="form-label fw-semibold"> Şifre </label>

  <div class="input-group">
    <input
      class="form-control"
      formControlName="sifre"
      [type]="showPassword ? 'text' : 'password'"
      placeholder="Değiştirmek istemiyorsanız boş bırakın"
    />

    <button
      type="button"
      class="btn btn-outline-secondary border"
      (click)="togglePassword()"
      [title]="showPassword ? 'Şifreyi gizle' : 'Şifreyi göster'"
    >
      <i
        class="bi"
        [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'"
      ></i>
    </button>
  </div>
</div>


    <div class="mb-4">
      <label class="form-label fw-semibold">
        Rol <span class="text-danger">*</span>
      </label>
      <select class="form-control" formControlName="rol">
        <option value="Admin">Admin</option>
        <option value="User">User</option>
      </select>
    </div>

    <div class="d-flex justify-content-end gap-2">
      <button
        type="button"
        class="btn btn-outline-secondary"
        routerLink="/core/admin/users"
      >
        İptal
      </button>

      <button
        type="submit"
        class="btn btn-success"
        [disabled]="formGroup.invalid"
      >
        <i class="bi bi-save me-1"></i>
        Güncelle
      </button>
    </div>
  </form>
</div>
