<div id="list-map" class="map-container"></div>

<div
  class="position-absolute bottom-0 end-0 mb-2 me-2 px-2 py-1 bg-white rounded-3 shadow-sm"
  style="z-index: 1001; width: 80px"
>
  <label for="baseOpacityRange"
    class="text-muted small fw-semibold mb-0 d-block text-center"
    style="font-size: 0.55rem"
  >
    Opaklık
  </label>

  <input
    id="baseOpacityRange"
    type="range"
    min="0"
    max="1"
    step="0.1"
    [(ngModel)]="baseOpacity"
    (input)="onBaseOpacityChange()"
    class="form-range mt-1"
    style="height: 2px"
  />
</div>


<div
  id="map-tooltip"
  class="map-tooltip"
  [style.display]="tooltipVisible ? 'block' : 'none'"
>
  {{ tooltipText }}
</div>
