<div
  class="container min-vh-100 d-flex justify-content-center align-items-center"
>
  <div class="col-md-4">
    <div class="card shadow-lg border-0 rounded-4">
      <div class="card-body p-4">
        <h4 class="text-center mb-4 fw-bold">Giriş Yap</h4>

        <form [formGroup]="formGroup" (ngSubmit)="show()">
          <div class="mb-3">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" formControlName="email" />
            <small
              class="text-danger"
              *ngIf="
                formGroup.get('email')?.touched &&
                formGroup.get('email')?.invalid
              "
            >
              Geçerli bir email giriniz
            </small>
          </div>

          <div class="mb-3">
  <label class="form-label">Şifre</label>

  <div class="input-group">
    <input
      class="form-control"
      formControlName="password"
      [type]="showPassword ? 'text' : 'password'"
    />

    <button
      type="button"
      class="btn btn-outline-secondary border"
      (click)="togglePassword()"
    >
      <i
        class="bi"
        [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
      ></i>
    </button>
  </div>

  <small
    class="text-danger"
    *ngIf="
      formGroup.get('password')?.touched &&
      formGroup.get('password')?.invalid
    "
  >
    Şifre zorunludur
  </small>
</div>


          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="rememberMe" />
            <label class="form-check-label" for="rememberMe">
              Beni hatırla
            </label>
          </div>

          <button
            type="submit"
            class="btn btn-primary w-100"
            [disabled]="formGroup.invalid || loading"
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm me-2"
            ></span>
            Giriş Yap
          </button>

          <div class="text-center mt-3">
            <a routerLink="/register" class="text-decoration-none">
              Hesabınız yoksa kayıt olun
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
